# Apply to all files without commiting:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/Consensys/mythril
    rev: 0717111a550c4d8bb0cb8eb14b4ee1c5ef13d6fe
    hooks:
      - id: mythril
        exclude: ^(script|test)/
  - repo: https://github.com/crytic/slither
    rev: 0.11.5
    hooks:
      - id: slither
  - repo: https://github.com/protofire/solhint
    rev: v6.0.2
    hooks:
      - id: solhint
  - repo: local
    hooks:
      - id: forge_fmt
        name: forge fmt
        entry: forge fmt forge fmt src script test
        files: \.sol$
        pass_filenames: false
        language: system
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        args: [--mapping, '2', --offset, '2', --sequence, '4', --implicit_start]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
      - id: check-renovate
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--write]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
