on:
  push:
    branches:
      - main
  pull_request:

name: CI

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@50d5a8956f2e319df19e6b57539d7e2acb9f8c1e # v1.5.0
        with:
          version: stable
      - name: Show Forge version
        run: |
          forge --version
      - name: Run Forge build
        run: |
          forge build --sizes
      - name: Run Forge tests
        run: |
          make test
      - name: Run Forge tests with coverage
        run: |
          make coverage
